.locationContainer {
  margin-top: 2rem;
}

.locationCard {
  background: var(--color-offwhite);
  font-family: "Cabin", var(--font-family-serif);
  text-align: center;
  padding: 2rem;
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.3);
  width: 75%;
  border-radius: 40px;
  margin: 2rem auto;
}

.moving-container {
  animation: moveUpDown 8s infinite;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0px);
  }
}

.moving-DownUp {
  animation: moveDownUp 8s infinite;
}

@keyframes moveDownUp {
  0% {
    transform: translateY(15px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(15px);
  }
}


.eventLocationText {
  color: var(--color-primary);
}
.addressText {
  color: var(--color-warm);
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  margin-block: 0.5rem;
  font-size: 0.8rem;
}

.MuiButton-root.navigateButton {
  color: var(--color-secondary);
  gap: 0.5rem;
  border-radius: 15px !important;
  font-size: 12px;
  border: none !important;
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.2);
  font-weight: 500;
  border: none;
  transition: 0.8s;
  padding-inline: 1rem;
  font-family: "Cabin", sans-serif;
  text-transform: capitalize;
}
.MuiButton-root.navigateButton:hover {
  box-shadow: 0px 10px 30px 5px var(--background-secondary);
  border: none !important;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
  transform: translateY(0.6px);
  letter-spacing: 2px;
}
