@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
}
:root { 
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-blue: hsl(229, 23%, 23%);
  --dark-grayish: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}

.container {
  /* height: 99vh; */
  /* position: relative; */
  /* background: var(--dark-cyan); */
  /* color: var(--very-dark-blue); */
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 5rem;
}

.card {
  background: white;
  font-size: 18px;
  height: 110px;
  width: 300px;
  border-radius: 20px;
  z-index: 99;
  position: relative;
}
.card .bg-img {
  position: absolute;
  height: 100%;
  /* background: url(https://picsum.photos/seed/picsum/200/300); */
  border-radius: 20px 0px 0px 20px;
  z-index: 0;
  width: 60px;
}
.card .bg-img .bg-img1 {
  height: 100%;
  background: rgb(68, 148, 56);
  /* background: url("https://picsum.photos/seed/picsum/200/300"); */
  border-radius: 20px 0px 0px 20px;
  z-index: 99;
  width: 140px;
}
.profile .pic {
  left: 20%;
  transform: translateX(-50%);
  top: 10px;
  background: white;
  position: absolute;
  padding: 2px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile .pic1 {
  margin-left: 6rem;
  margin-top: 14px;
  position: absolute;
}

.profile .pic img {
  border-radius: 50%;
}

.title {
  display: flex;
}
.wishes {
  text-align: left;
  padding-top: 0.3rem;
  font-family: "Cabin", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--color-medium);
}
.profile-info {
  margin-top: 74px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.profile {
  /* width: 100%;
  display: flex;
  text-align: center;
  border-bottom: 1px solid var(--dark-gray);
  padding-bottom: 25px; */
}
.stats {
  padding-top: 25px;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.profile .name {
  font-size: 20px;
  margin-bottom: 13px;
}
.profile .name span {
  font-weight: 700;
}
.profile .location {
  color: var(--color-primary );
  font-size: 18px;
}
.stats p {
  color: var(--color-primary );
}
.stats .number {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 9px;
  color: var(--color-primary );
}

/* Responsive */
@media (max-width: 375px) {
  .top-bg {
    height: 375px;
    width: 375px;
    top: -160px;
    left: -167px;
  }
  .bottom-bg {
    height: 375px;
    width: 375px;
    bottom: -79px;
    right: -167px;
  }
}
